<br>
<div style="max-width: 800px;margin:auto;text-align: justify;">
  <h1 align="center">ETICA PROFESIONAL Y DE LO PUBLICO</h1>
  <br>
<article style="font-size: 20px;">
  <p>
    En el siguiente sitio web van a encontrar toda la infomacion y las tematicas desarrollas darante el semestres en la asignatura ETICA PROFESIONAL Y DE LO PUBLICO.
  </p>

  <p>
    esta se divide en 5 partes que son:
  </p>
  <p>
    <b>CONTENIDO ASIGNATURA: </b> Aqui estara toda la tematica que se dicto en la asignatura durante el semestre.
  </p>

  <p>
    <b>ETICA DE LO PUBLICO: </b> En esta sesion tendremos algunos conceptos y se teminara con un escrito que  tiene como objetivo mostrar cual es la importancia que tiene la ética, la moral y los valores en el chocó.
  </p>
  
  <p>
    <b>ETICA PROFESIONAL: </b> en este apartado tendremos profundisamos mas sobre la etica y miramos la importancia que tiene en los profesionales, tambien finalizaremos cun un escrito que tiene como objetivo mostrar cual es la importancia que tiene la ética profesional en nuestro día a día.
  </p>
  
  <p>
    <b>ETICA INFORMATICA: </b> En parte veremos mas conceptos sobre la etica infomatica, los mandamientos que tiene y miraremos la situacion actual de la etica informatica "Percepcion peronal" y finalizaremos con un desarrollanado conceptos sobre etica informtica. 
  </p>
  
  <p>
    <b>FOROS PARTICIPATIVOS: </b> En esta ultima parte veremos todos los foros y actividades qe se realizaron atravez de padlet. 
  </p>
</article>
</div>