<br>
<div style="max-width: 800px;margin:auto;text-align: justify;">
  <h1 align="center">ETICA PROFESIONAL Y DE LO PUBLICO</h1>
  <br>
<article style="font-size: 20px;">
  <h2 style="text-align: center;">
    LA ETICA PROFESIONAL 
</h2>  
<p>
  La ética profesional es el conjunto de normas aplicadas en el desarrollo de una actividad laboral. Puede verse reflejada en códigos profesionales y a través de una serie de principios y valores contenidos en postulados y marca formas de conductas dentro del desempeño de una profesión.
</p>
<p>
  Determina las pautas del desarrollo laboral mediante valores que poseen los seres humanos. La ética profesional o laboral es indispensable en cualquier persona que desee trabajar, desde empleados, emprendedores, dueños de negocios o altos ejecutivos. Implica la práctica de valores como la responsabilidad, puntualidad, estudio, constancia, carácter, concentración, formación, discreción, entre otras
</p>
<p>
  La responsabilidad es esencial en la ética profesional, sin ella no se podrían cumplir las metas establecidas por nosotros mismo.  El actuar bajo la responsabilidad hará que cada persona realice su trabajo de forma en la que fue establecida con anterioridad.
</p>
<h2 style="text-align: center;">
  ¿Para qué sirve la ética profesional? 
</h2>
<p>
  El tener ética profesional o laboral, determina cómo actuar ante una situación específica. No significa que la ética profesional sea aplicable únicamente al sector laboral, sino también puede aplicar en el ámbito estudianti
</p>
<p>
  Sin embargo debido a que el profesional, emprendedor, jefe o alto ejecutivo se encuentran diariamente en situaciones que requieren de tomas de decisiones es más usado en este ámbito.
</p>
<p>
  La ética profesional puede ser usada para prevenir errores, ya que el actuar de acuerdo a la ética ayudara a un mejor desempeño de las labores por cumplir.
</p>

<hr>
<br>
  <h2 style="text-align: center;">
    LA ETICA PROFESIONAL EN NUESTRO DIA A DIA
</h2>  

La ética profesional es un conjunto de principios, valores y normas que indican como
debe comportarse un profesional para que su ejercicio sea considerado digno. Por
otra parte debemos considerar que la ética también tiene que ver con la parte interior
del ser humano ósea, los valores que internamente todos tenemos y la voz interna
que nos dice algo correcto o no y nos fortalece o desagrada como persona.
<br><br>
Este trabajo tiene como objetivo mostrar cual es la importancia que tiene la ética
profesional en nuestro día a día.
Empecemos por definir que es ética profesional, la palabra ética proviene del griego
ethikos(carácter). Se trata del estudio de la moral y del accionar humano para
promover comportamientos deseables.
Por profesión entendemos una ocupación que se desarrolla con el fin de colaborar
con el bienestar de una sociedad.
<br><br>
La ética profesional consiste en una serie de normas y valores que rigen el
comportamiento de los empleados en una organización. Se basa principalmente en
valores universales (como responsabilidad, honestidad, respeto, prudencia, etc.)
que el ser humano aplica directamente en el ámbito laboral.
Según nuestro código de ética profesional colombiano, la ética profesional se deriva
de Principios Éticos, Valores, Responsabilidad, Honestidad, Eficacia, Eficiencia,
Equidad, Imparcialidad Respeto y Servicio con el fin de fomentar comportamientos
en los servidores públicos, privados y colaboradores, a través de pautas y
orientaciones éticas que establezcan las formas de direccionamiento interno y
externo de las personas, basadas en principios y valores que fundamenten el
compromiso social.
<br><br>
La ética en la conciencia moral de todo ser humano les sirve de motor, freno o de
dirección según los casos al momento de actuar, le permite no incurrir en conductas
equivocadas en su comportamiento profesional, ya que la ética no solo regula lo
que debe hacer o no, sino también el cómo debe hacer. El proceder bajo las normas
éticas permite resolver tales situaciones sin choques de conciencias. Es un fin
noble, es decir, al servicio de los demás: el curar, enseñar, informar, la convivencia
justa, cuando el hombre siga o no tales normas al evaluar sus propios actos, que
por ser humano son libres, implica que la ética tiene más relación con la voluntad
del hombre que con la moral.
<br><br>
Es trise decir que en el departamento del choco, la ética profesional no existe debido
a la corrupción y el interés particular de nuestros funcionarios, según lo leído por
medios tales como la procuraduría general, nuestro departamento es las que más
procesos disciplinarios se le adelanta por corrupción con un 70% de funcionarios
públicos que defraudan y roban el dinero destinado al desarrollo de Chocó.
Lamentablemente, en nuestra cultura, la persona honesta, honesta, responsable, y
ética está desactualizada, es ignorante, se entromete y no lo ocupan.Y no debemos
olvidar que no basta saber una profesión y ser un hábil profesional sino también
saber obrar bien, pues la técnica capacita para "el hacer" pero no enseña a "obrar
bien", porque la ciencia y la tecnología sin ética y moral destruyen la dignidad del
hombre; hay que obrar con honestidad y responsabilidad en función de las
necesidades de la sociedad.
<br><br>
Por tanto, actuar éticamente significa actuar de acuerdo con los códigos de
conducta y las reglas de conducta que impone la sociedad que nos rodea, por lo
que la moralidad vive en todos, independientemente de su ocupación y entorno.
La Ética Profesional, son los principios y valores que van a regir a un profesionista,
es la actitud en la que se va a regir el comportamiento de este mismo en su ámbito
profesional, tratando de siempre de actuar de manera justa y correcta para así tomar
las mejores decisiones.
Por tanto, la ética profesional surge del trabajo de servir a los demás. Esta debe
vivir en cada situación (social o laboral) que nos encontramos en nuestra vida para
que podamos buscar la excelencia profesional a través de la honestidad y la
responsabilidad.
<br><br>
La ética profesional en mi entono está muy desgasta, poco utilizada y/o aplicada,
ya que el principal objetivo de la ética profesional es dejar de lado los beneficios
individuales, y trabajar en conjunto por el bien común, pero las personas solo ven
por su bien individual dejando de lado el bien común, es decir, aplican la de si a mí
me beneficia o si yo saco mi tajada, donde solo piensan en ellos sin importar pasar
por encima de los demás, donde se ve pocos actos éticos y morales, donde los
valores es lo que menos se aplican.
Saber qué debo hacerlo bien no significa que tenga que esperar nada a cambio, o
que me elogien o premien, es por satisfacción personal y crecimiento personal, pero
lamentablemente muchos profesional esperar algún tipo de incentivo para poder
realizar su trabajo, lo cual no debería ser así, ya se le está pagando para que realice
bien su función.
<br><br>
Quiero recalcar la importancia de ser un buen profesional, de ser ético, ya que el
principal objetivo de la ética profesional es abandonar los intereses personales y
trabajar juntos por el bien común. Si la empresa se desempeña bien, los empleados
tendrán puestos de trabajo estables, pero si se toman acciones que perjudiquen
directamente a la organización, las consecuencias afectarán a muchas personas,
siendo unas personas éticas miraremos siempre por el bien común y esos nos 
ayudaran hacer mejores cosas por la sociedad, generándoles bienestar a más
personas.
Toda profesión que eligen los seres humanos para progresar y vivir una vida mejor
debe basarse primero en una profesión bien hecha. El propósito de toda profesión
es que se use con para el fin que se creó. Por ejemplo, si quiero ser un médico que
quiere salvar vidas, quiero ser un pastor que instruye y ama a Dios. Si quiero ser un
ambientalista que cuida la naturaleza, los animales y las plantas, porque toda
profesión tiene su propósito, entonces debo usarlo.
<br><br>
Tener una profesión significa no solo tener un título o licenciatura, sino también tener
un compromiso con lo que hacemos nosotros y con los demás. Saber cómo usar y
enseñar lo que hemos aprendido en el proceso de convertirnos en profesionales. La
responsabilidad por nosotros mismos y lo que hacemos no es solo por recibir un
pago, un salario o un reconocimiento, esto es lo que hacemos por nosotros mismos
y queremos que el trabajo sea tranquilo y bien hecho.
Es importante saber que hay cosas buenas y cosas malas, cosas malas que no se
deben hacer, pero también hay cosas buenas que pueden ayudarnos a tener éxito
sin tener que hacer cosas malas
</article>
<br>
