<br>
<div style="max-width: 800px;margin:auto;text-align: justify;">
  <h1 align="center">ETICA PROFESIONAL Y DE LO PUBLICO</h1>
  <h2 align="center">FOROS PARTICIPATIVOS</h2>
  <br>
<article style="font-size: 20px;">
  <h2 align="center" style="color:dodgerblue;"> <b> Actividad Semana 1 </b></h2>
  <p>
    <br>
    <b> Presentacion y apreciación de que entienden o como ven ustedes el concepto de Ética - Semana 1.</b>
  </p>
  <p>
    Mi Nombre es Neyder Martinez Rivas. Para mi la ética son los VALORES inherentes al SER que determinan la conducta de la persona, es decir, estudia la moral y determina qué es lo bueno, lo malo y nos indica como se debe actuar.
  </p>
</article>
<hr>
<br>
<article style="font-size: 20px;">
  <h2 align="center" style="color:dodgerblue;"> <b> Actividad Semana 2 </b></h2>
  <p>
    <br>
    <b> 
      Sobre quien recae él enseñar sobre ética, valor y moral a un niño:
      <br>
      a. Familia  <br>
      b. Escuela <br>
      c. Sociedad <br>
      d. Religión  <br>
      <br>
      Argumenta tu punto de vista .</b>
  </p>
  <br>
  <p>
    Para mi recae principalmente sobre la familia quien es el primer núcleo al cual el pertenece y es el que debe inculcar a los niños los valores, de ellos depende gran parte de los que los niños son, luego a medida que va creciendo la escuela es quien sigue con ese proceso reforzando e inculcando nuevas cosas al niño, es decir, para mi la familia es el principalmente sobre quien recae esa responsabilidad y luego la escuela continua con ese proceso y refuerza lo que el niña ha aprendido en casa.
  </p>
</article>
<hr>
<br>
<article style="font-size: 20px;">
  <h2 align="center" style="color:dodgerblue;"> <b> Actividad Semana 3 </b></h2>
  <p>
    <br>
    <b> 
      Película assassins creed. 
Partición en la discusión en relación a las siguientes preguntas a partir de la película:
      <br>
      - Cuál es el objeto de la Manzana y que representa  <br>
      - Para usted que significa esa representación  <br>
      - Como se ve la ética, la moral y los principios en la película  <br>
      - Cuales antivalores que pueden identificarse en la película   <br>
      - Cuál es su visión general de la película-argumentos </b>
  </p>
  <br>

  <h2> CUÁL ES EL OBJETO DE LA MANZANA Y QUE REPRESENTA. </h2>
  <p>  
    el objeto de la manzana es de controlar a los humanos, su creación y forma de pensar, ara los templarios significa tener el control de la humanidad el fin del libre albedrio, en cambio para los asesinos representa la libertad elección, de pensar, de actuar, tanto asi que daban su vida para proteger aquel fruto. 
  </p> 

  <h2> PARA USTED QUE SIGNIFICA ESA REPRESENTACIÓN.  </h2> 
  <p>
    para mi esa representación significa el poder máximo, con el cual se puede controlar la forma de pensar de las personas, para los templarios era el fin del libre albedrío, en cambio para los asesinos es el inicio de él.
  </p>   
     
  <h2>COMO SE VE LA ÉTICA, LA MORAL Y LOS PRINCIPIOS EN LA PELÍCULA.  </h2> 
  <p>
    En la película se pueden notar la ética y moral que imponían los templario así como sus principios y leyes a la sociedad donde solo le favorecían a ellos y mantenían a la sociedad sumisa y bajo su poder, al igual los principios se ven bien marcados, por ejemplos los asesinos tenían bien claros su principios y morían por ellos, el padre de la científica muestra pocos valores y moral llegando al punto de mentirle y manipular a su hija sobres las cosas para asi conseguir sus propios interés y llevar a cabo sus propósitos.
  </p> 
        
  <h2> CUALES ANTIVALORES QUE PUEDEN IDENTIFICARSE EN LA PELÍCULA.</h2> 
  <p>
    Podemos identificar muchos antivalores entre ellos tenesmos: la mentira, el odio, la esclavitud, la deslealtad, el egoísmo, Deshonestidad, guerra, Inequidad.
  </p>
          
  <h2> CUÁL ES SU VISIÓN GENERAL DE LA PELÍCULA-ARGUMENTOS.  </h2> 
  <p>
    Para mi es una película que se centrar en la lucha de dos bando, los templarios y el orden de los asesinos, cual cuyo objetivos es hacerse con el fruto del edén para así imponer sus creencias y principios a la humanidad, los Templarios intentan salvar a la humanidad (según ellos) de sí misma a través del control del libre albedrío, en cambio los Asesinos lucha para garantizar la supervivencia de la libertad, la cual permita los libres pensamientos y el crecimiento individual de cada persona.
  </p>
</article>
<hr>
<br>
<article style="font-size: 20px;">
  <p>
    <br>
    <b> Importancia de la ética profesional.</b>
  </p>
  <p>
    Para mi la importancia de la ética profesional es que esta nos da unas pautas o normas las cuales se debe seguir y así cumplir una buena función en el cargo que se este desempeñando, es muy importante la practica de ética profesional, ser un buen profesional, ya que el principal objetivo de la ética profesional es abandonar los intereses personales y trabajar juntos por el bien común. Si la empresa se desempeña bien, los empleados tendrán puestos de trabajo estables, pero si se toman acciones que perjudiquen directamente a la organización, las consecuencias afectarán a muchas personas, siendo unas personas éticas miraremos siempre por el bien común y esos nos ayudaran hacer mejores cosas por la sociedad, generándoles bienestar a más personas.

Lo realmente importante es siempre actuar de manera coherente con lo que piensas y nunca realizar alguna acción que haga que tu moral o tu ética se rompa.
  </p>
</article>
</div>