<br>
<div style="max-width: 800px;margin:auto;text-align: justify;">
  <h1 align="center">ETICA PROFESIONAL Y DE LO PUBLICO</h1>
  <br>
<article style="font-size: 20px;">
  <h2 style="text-align: center;">
    CONTENIDO
  </h2>
  <br>
  <h2 align="center" style="color:dodgerblue;"> <b> 1. UNIDAD 1: ETICA, VALOR Y MORAL </b></h2>
 

1.1. Generalidades de la ética
<br>
1.2 Conceptos de valor, moral, principios
<br>
1.3 Antivalores
<br><br>
Análisis película. Debate, plenaria, discusión
Actividades:
<br>
Película: Assessin Cread
<br>
Partición en la discusión en relación a las siguientes preguntas a partir de la película:
<br><br>
- Cuál es el objeto de la Manzana y que representa 
<br>
- Para usted que significa esa representación 
<br>             
- Como se ve la ética, la moral y los principios en la película 
<br>         
- Cuales antivalores que pueden identificarse en la película
<br>
- Cuál es su visión general de la película-argumentos
<br><br>  

Realizar un escrito, articulo, ensayo sobre UNA MIRADA A LA ETICA, VALORES Y MORAL EN LA REGION.
<br><br>
- Escrito no inferior a 2000 palabras, aplicando las normas Icontec actualizada para trabajos escritos y las referencias bibliográficas no inferior a 11.
- Tener en cuenta que se revisará el plagio.
<br><br>

<h2 align="center" style="color:dodgerblue;"> <b> 2. UNIDAD 2: ETICA PROFESIONAL </b></h2>

2.1 Concepto de ética profesional
<br>
2.2. Código de ética
<br>
2.3. Normas y entidades que regulan las profesiones en Colombia
<br>
2.4. Casos deontológicos de la ética profesional
<br><br>
Análisis película. Debate, plenaria, discusión
Película: 'La red', ‘The Net’, cuando Sandra Bullock reveló una conspiración digital
<br><br>
Realizar un escrito, articulo, ensayo sobre UNA MIRADA A LA ETICA PROFESIONAL EN LA REGION.
<br><br>
- Escrito no inferior a 2000 palabras, aplicando las normas Icontec actualizada para trabajos escritos y las referencias bibliográficas no inferior a 11.
Tener en cuenta que se revisará el plagio.  
<br><br>
TEMA: Ética e Ingeniería - Por una tecnoética.
<br><br>
La ética de la ingeniería es la rama de la ética aplicada y el conjunto de principios morales que se aplican a la práctica de la ingeniería.
<br><br>
 JUSTIFICACIÓN:  Realizar un análisis sobre la responsabilidad del uso de las tecnologías enfrentará al estudiante con otra visión de su función social en la sociedad. “Ellos los ingenieros, han sido tildados por la Sociología, como profesionales indiferentes ante los códigos, las normas, ante los problemas y decisiones morales y éticos. Mario Bunge plantea la necesidad de que los constructores del mundo moderno se apropien y se sensibilicen ante las tragedias del mundo propiciadas por la tecnología mal utilizada”.
 <br><br>
 OBJETIVOS:
• Esclarecer el papel de las profesiones, en este caso de la ingeniería (Informática), sus consecuencias sus beneficios y su progreso a través de la historia, para reconocer el compromiso que se desprende de ella.
• Propiciar la interiorización de conceptos éticos como la responsabilidad, para ser llevados a la práctica desde la Ingeniería.
<br><br>
ACTIVIDADES:
Lectura del documento "Por una tecnoética" de Mario Bunge.
Realización de un escrito individual y luego discusión del documento
<br><br>

<h2 align="center" style="color:dodgerblue;"> <b> 3. UNIDAD 3: ETICA INFORMATICA </b></h2>

3.1 Situación Actual de la Ética de la Informática “Percepción personal”
<br>
3.2 Desarrollar los siguientes conceptos de La ética y la informática 
<br>   
3.2.1 Historia del ingeniero informático  
<br>                    
3.2.2 Perfil profesional del ingeniero informático
<br>
3.2.3 Objetivos del ingeniero informático
<br>
3.2.4 Campo del ejercicio profesional del ingeniero informático
<br>
3.2.5 Principios del ingeniero informático
<br>
3.2.6 Código ético del ingeniero informático – En Colombia cuales ¿?
<br>
3.2.7 Aspectos negativos en la informática
<br><br>

Actividad Final:
Mediante el uso de una herramienta de la Web 2.0 - realizar un compendio - Documento-Escrito, articulo y/o ensayo realizado en las unidades anteriores.
<br><br>
ETICA DE LO PUBLICO<br> 
ETICA PROFESIONAL  <br>     
ETICA INFORMATICA<br><br>
</article>